/node_modules
/public/storage
/public/hot
/public/uploads
/public/css
/public/json
/public/js
/public/images
/public/fonts
/public/vendor
/public/dist
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.settings
.project
/nbproject/private/
/nbproject
.buildpath
_ide_helper.php
package-lock.json
.phpstorm.meta.php
